.search {
  width: var(--contentWidth);
  padding: 8px 100px 8px 100px;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  box-shadow: 0px 0px 26px -15px rgba(62, 62, 72, 1);
  border-radius: 0.5rem;
}

.search .btn {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  border: 0px;
  margin-top: 7px;
  text-align: center;
  background: linear-gradient(0.2turn, var(--headerColor), var(--thirdColor));
  color: var(--mainColor);
  font-size: var(--MediumFontSize);
  text-decoration: none;
  cursor: pointer;
}
.search .btn:hover {
  color: #ffffff;
  box-shadow: 10px -5px 20px 0 var(--thirdColor),
    -10px 1px 20px 0 var(--mainColor);
}

@media (max-width: 1024px) {
  .search {
    width: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 30px;
    align-items: center;
    flex-direction: column;
    gap: 4px;
  }

  .search .btn {
    width: 120px;
    height: auto;
    font-size: var(--SemiMediumFontSize);
    margin-left: 45px;
  }
}

@media screen and (max-width: 320px) {
  .search {
    width: 320px;
    margin-left: -15px;
  }
  .search .btn {
    margin-left: 80px;
  }
}
