.offers {
  max-width: var(--contentWidth);
  min-width: 320px;
  height: 850px;
  margin: 45px 100px 0 100px;
  display: flex;
  flex-direction: column;
}

.offers h1 {
  width: var(--contentWidth);
  font-size: var(--SemiBigFontSize);
  color: var(--headerColor);
  text-align: center;
  position: relative;
  margin-top: 0;
}

.offers h1::before {
  content: "";
  display: block;
  width: 700px;
  height: 2px;
  background: var(--headerColor);
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -2;
}

.offers h1::after {
  content: "";
  display: block;
  width: 700px;
  height: 2px;
  background: var(--headerColor);
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -2;
}

.offers p {
  font-size: var(--SmallFontSize);
  color: var(--altSecondColor);
  text-align: center;
  margin-top: 5px;
  width: var(--contentWidth);
}

.box-container {
  width: var(--contentWidth);
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.box {
  width: 398px;
  height: 630px;
  margin: 50px;
}

.box1 {
  border-radius: 40px;
  background: url("/./src/assets/house.jpg");
  background-size: cover;
  background-position: 40% 50%;
}

.box::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.1;
  height: 630px;
  width: 398px;
  border-radius: 40px;
}

.box2 {
  border-radius: 40px;
  background: url("/./src/assets/office.jpg");
  background-size: cover;
  background-position: 35% 50%;
}

.box3 {
  border-radius: 40px;
  background: url("/./src/assets/vacant_land.jpg");
  background-position: 45% 50%;
  background-size: cover;
}

.content h2 {
  font-size: var(--BigFontSize);
  position: relative;
  z-index: 1;
  padding: 8px;
  margin-top: 110%;
}

.box2 .content h2,
.box3 .content h2 {
  margin-top: 130%;
}

.box1 .content span {
  color: var(--headerColor);
}
.box1 h2 {
  color: #ffffff;
}

.box2 h2 {
  color: var(--thirdColor);
}

.box3 h2 {
  color: var(--mainColor);
}

@media screen and (max-width: 1024px) {
  .offers {
    max-width: 100%;
    margin: 45px auto;
    padding: 0 20px;
  }

  .offers h1 {
    width: 100%;
  }

  .offers h1::before,
  .offers h1::after {
    content: "";
    display: none;
  }

  .offers p {
    width: 100%;
  }

  .box-container {
    grid-template-columns: auto;
  }

  .box {
    width: 400px;
    height: 300px;
    margin: 50px 0;
    position: relative;
  }

  .offers {
    max-width: 1024px;
    min-width: 320px;
    height: auto;
    margin: 45px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }

  .box-container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
  }

  .box::before {
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .offers {
    margin: 45px auto 0 auto;
  }
  .box {
    width: 350px;
    height: 270px;
  }
}

@media screen and (max-width: 320px) {
  .box {
    width: 300px;
    height: 200px;
  }
  .box::before {
    width: 300px;
    height: 200px;
  }
  .box1 .content h2,
  .box2 .content h2,
  .box3 .content h2 {
    font-size: var(--MediumFontSize);
  }
}
