.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.header {
  text-align: center;
  font-size: var(--SemiBigFontSize);
  color: var(--firstColor);
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name,
.email,
.message {
  display: flex;
  flex-direction: column;
}

#message,
#name,
#email {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  min-width: 300px;
  width: 540px;
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 1px solid black;
}

#name_label,
#email_label,
#message_label {
  font-size: var(--SmallFontSize);
}
#message {
  height: 150px;
}

.forms-btn {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  width: 190px;
  height: 55px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(0.1turn, var(--firstColor), var(--fourthColor));
  font-size: var(--MediumFontSize);
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.forms-btn:hover {
  color: var(--secondColor);
  box-shadow: 10px -5px 20px 0 var(--fourthColor),
    -10px 1px 20px 0 var(--secondColor);
}

#value {
  margin-top: 1rem;
  color: red;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  #message,
  #name,
  #email {
    font-size: var(--SemiSmallFontSize);
    width: auto;
  }

  #name_label,
  #email_label,
  #message_label {
    font-size: var(--SemiSmallFontSize);
    margin: 0;
    padding: 0;
  }

  .header {
    font-size: var(--SemiMediumFontSize);
  }
  .forms-btn {
    width: auto;
    height: auto;
    font-size: var(--SemiMediumFontSize);
  }
}
