@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --headerColor: #07458a;
  --mainColor: #0de6fc;
  --secondColor: #00e691;
  --thirdColor: #3ae055;
  --additionalColor: #417a1f;
  --altColor: #e61787;
  --altSecondColor: #808080;
  --SharedLayoutColor: #1b2430;
  --contentWidth: 108rem;
  --SecondBigFontSize: 4.5rem;
  --BigFontSize: 3.5rem;
  --SemiBigFontSize: 3rem;
  --MediumFontSize: 1.8rem;
  --SemiMediumFontSize: 1.4rem;
  --SmallFontSize: 1.1rem;
  --SemiSmallFontSize: 0.9rem;
}

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: linear-gradient(var(--headerColor), var(--thirdColor));
}
::-webkit-scrollbar-thumb {
  background: var(--mainColor);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondColor);
}

.fade-bottom {
  animation: fade-bottom 0.8s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
